---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container" id="tokenomics">
      <h2 class="mb-16 text-6xl">Tokenomics</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:dolly" title="Total Supply">
          Only 1 billion tokens at the start. Mint authority revoked.
        </Feature>
        <Feature icon="mdi:fire-alert" title="Liqidity">
          Liqidity burnt on launch. Yours trully, $RICHCAT
        </Feature>
        <Feature icon="mdi:cash-remove" title="Tax 0%">
          $RICHCAT has enough $$$. No taxes.
        </Feature>
      </div>
    </div>
  </section>
  <div id="roadmap">
    <h2 class="mb-16 text-6xl">Roadmap</h2>
    <ContentMedia imgSrc="/accessible-components.webp">
      <h2>Burn at 1M MC</h2>
      <p class="text-2xl">
        10% of total supply will be burnt at 1M market cap. $RICHCAT doesn't care about jeeters.
      </p>
    </ContentMedia>
    <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
      <h2>More Burn at 5M MC</h2>
      <p class="text-2xl">
        $RICHCAT is happy with HODLERS. Another 20% of total supply will be burnt at 5M market cap. Jeeters are starting to cry
      </p>
    </ContentMedia>
    <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
      <h2>Even More Burn 10M MC</h2>
      <p class="text-2xl">
        $RICHCAT decided it's time to fly to the moon. Another 20% of total supply will be burnt at 10M market cap. A secret rocket is revealed to the jeeters.
      </p>
    </ContentMedia>
  </div>
  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="520" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
</DefaultLayout>
